[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
LimitNOFILE=4096
ExecStart=/usr/bin/kube-apiserver \
  --advertise-address={{ local_ip }} \
  --allow-privileged=true \
  --apiserver-count={{ api_servers_count }} \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/lib/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file=/opt/kubelini/ca/ca.pem \
{% if apiserver_cloud_provider %}
  --cloud-provider={{ apiserver_cloud_provider }} \
{% endif %}
  --enable-swagger-ui=true \
  --etcd-cafile=/opt/kubelini/pki_downloads/ca.pem \
  --etcd-certfile=/opt/kubelini/pki/{{ inventory_hostname }}.pem \
  --etcd-keyfile=/opt/kubelini/pki/{{ inventory_hostname }}-key.pem \
  --etcd-servers={{ etcd_ips }} \
  --event-ttl=1h \
  --insecure-bind-address=127.0.0.1 \
  --kubelet-certificate-authority=/opt/kubelini/pki_downloads/ca.pem \
  --kubelet-client-certificate=/opt/kubelini/pki/{{ inventory_hostname }}.pem \
  --kubelet-client-key=/opt/kubelini/pki/{{ inventory_hostname }}-key.pem \
  --kubelet-preferred-address-types=InternalIP \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file=/opt/kubelini/ca/ca-key.pem \
  --service-cluster-ip-range={{ cluster_ip_range }} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/opt/kubelini/pki/{{ inventory_hostname }}.pem \
  --tls-private-key-file=/opt/kubelini/pki/{{ inventory_hostname }}-key.pem \
  --token-auth-file=/opt/kubelini/bootstrap_token/token.csv \
  --proxy-client-key-file=/opt/kubelini/pki/{{ inventory_hostname }}-key.pem \
  --proxy-client-cert-file=/opt/kubelini/pki/{{ inventory_hostname }}.pem \
  --requestheader-client-ca-file=/opt/kubelini/pki_downloads/ca.pem \
  --requestheader-allowed-names=front-proxy-client \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
{% if apiserver_oidc_enable %}
  --oidc-issuer-url={{ apiserver_oidc_issuer_url }} \
  --oidc-username-claim={{ apiserver_oidc_username_claim }} \
  --oidc-client-id={{ apiserver_oidc_client_id }} \
  --oidc-groups-claim={{ apiserver_oidc_groups_claim }} \
{% endif %}
{% if apiserver_admission_control_plugins %}
  {{_admission_controller_param_name}}={{ apiserver_admission_control_plugins |join(',') }} \
{% endif %}
  --v=3
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
