[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-apiserver \
  --admission-control=Initializers,NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --advertise-address={{ local_ip }} \
  --allow-privileged=true \
  --apiserver-count={{ api_servers_count }} \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/lib/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file=/var/lib/kubernetes/ca.pem \
  --enable-swagger-ui=true \
  --etcd-cafile=/var/lib/kubernetes/ca.pem \
  --etcd-certfile=/var/lib/kubernetes/{{ inventory_hostname }}.pem \
  --etcd-keyfile=/var/lib/kubernetes/{{ inventory_hostname }}-key.pem \
  --etcd-servers={{ etcd_ips }} \
  --event-ttl=1h \
  --insecure-bind-address=127.0.0.1 \
  --kubelet-certificate-authority=/var/lib/kubernetes/ca.pem \
  --kubelet-client-certificate=/var/lib/kubernetes/{{ inventory_hostname }}.pem \
  --kubelet-client-key=/var/lib/kubernetes/{{ inventory_hostname }}-key.pem \
  --kubelet-preferred-address-types=InternalIP \
  --kubelet-https=true \
  --runtime-config=api/all \
  --service-account-key-file=/var/lib/kubernetes/ca-key.pem \
  --service-cluster-ip-range={{ cluster_ip_range }} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/var/lib/kubernetes/{{ inventory_hostname }}.pem \
  --tls-private-key-file=/var/lib/kubernetes/{{ inventory_hostname }}-key.pem \
  --token-auth-file=/var/lib/kubernetes/token.csv \
{% if apiserver_oidc_enable %}
  --oidc-issuer-url={{ apiserver_oidc_issuer_url }} \
  --oidc-username-claim={{ apiserver_oidc_username_claim }} \
  --oidc-client-id={{ apiserver_oidc_client_id }} \
  --oidc-groups-claim={{ apiserver_oidc_groups_claim }} \
{% endif %}
  --v=3
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
