{
    "CN": "front-proxy-client",
    "hosts": [],
    "key": {
      "algo": "rsa",
      "size": 2048
    },
    "names": [
      {
        "C": "US",
        "L": "Portland",
        "O": "",
        "OU": "Cluster",
        "ST": "Oregon"
      }
    ]
  }
  