{
  "CN": "system:node:{{ _internal_kubelini_node_name }}",
  "hosts": [
    "{{ inventory_hostname }}",

    {# Add all ip addresses for the host to the cert, in case of multi-homed hosts #}
    {% for address in ansible_all_ipv4_addresses %}
    "{{ address }}"
      {% if not loop.last %}
        ,
      {% endif %}
    {% endfor %}
    ,

    {# If host is a member of master, add the cluster_address to the cert aswell #}
    {# the kubernetes_cluster_address address is the one used by clients #}
    {% if 'kubernetes_master' in group_names %}
    "{{ kubernetes_cluster_address }}",
    {% endif %}
    "{{ cluster_ip_range_first_ip }}",
    {# If the variable is set, add it. Adds support for cloud-provider=aws on the kubelet #}
    {% if _internal_kubelini_worker_pki_ec2_internal_dns_name %}
    "{{ _internal_kubelini_worker_pki_ec2_internal_dns_name }}",
    {% endif %}
    "127.0.0.1",
    "localhost",
    "kubernetes.default"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "Portland",
      "O": "system:nodes",
      "OU": "Cluster",
      "ST": "Oregon"
    }
  ]
}